---
Language: Cpp
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
ColumnLimit: 80
IndentWidth: 2
UseTab: Never
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeInheritanceComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
...

